{% include 'components/topnav.html' %}
<header class="position-sticky top-0 header">
  <div class="container">
    <nav class="navbar navbar-expand-md" aria-label="Fourth navbar example">
      <div class="container-fluid justify-content-between">
        <a class="navbar-brand" href="#"> Dr.Dheeru Bhai </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExample04"
          aria-controls="navbarsExample04"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pateint-entry">Entry</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Department</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Services</a
              >
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Doctors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Contact</a>
            </li>
          </ul>
          <div>
            <a href="#appointment" class="btn btn-outline-success">
              Book an Appointment
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
